/*
* @Author: ananayarora
* @Date:   2016-04-20 17:36:12
* @Last Modified by:   ananayarora
* @Last Modified time: 2016-04-25 15:01:34
*/
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
$font: "Varela Round","Segoe Ui","Helvetica Neue";
*
{
	margin:0;
	padding:0;
}

body
{
	overflow-x:hidden;
	background: url('../img/sign-up-bg.jpg');
}

.signup
{
	width:100%;
}

& .box
	{
		font-family: $font;
		background:#fff;
		width: 50%;	
		border:1px solid rgba(100,100,100,0.1);
		box-shadow: 0 1px 4px rgba(0,0,0,.04);
		padding:30px;
		padding-left: 15px;
		padding-right: 15px;
		margin-top:100px;
		& .title
		{
			text-align: left;
			padding:25px;
			background:#16a085;
			color:#fff;
		}

		& .fields
		{
			padding:25px;
			background:#fff;
			border-top:1px solid rgba(0,0,0,0.1);
		}

		& .label
		{
			font-size: 11pt;
			width: 20%;
			margin-left:-100px;
			display: inline-block;
			text-align: right;
		}
		& .field
		{
			margin-top:10px;
			& .textbox
			{
				width: 50%;
				display: inline-block;
				text-align: left;
				margin-left:15px;
			}
			& .text
			{
				padding:10px;
				text-align: left;
				margin:5px;
				border-radius: 3px;
				border:1px solid rgba(0,0,0,0.3);
			}
			&:nth-child(1)
			{
				margin-top:0px;
			}
			
			textarea
			{
				width: 98%;
				height: 100px;
			}
		}

		& .submit_button
		{
			width: 100px;
			padding:10px;
			background:#16a085;
			color:#fff;
			font-family: $font;
			cursor: pointer;
		}

	}
